*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-nav {
    width: 100%;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #46a8ff;
}

.box-nav {
    width: 88%;
    height: 17vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.box-hamb {
    width: 5vw;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-logo-text {
    width: 50%;
    height: 18vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-logo {
    width: 19vw;
    height: 18vh;
    display: flex;
    align-items: flex-end;
}

.main-text {
    color: #ffffff;
    height: 8vh;
    letter-spacing: 0.02em;
}

.box-buttons {
    width: 18vw;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.click {
    width: 8vw;
    height: 5vh;
    color: #06129c;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #222222;
    font-size: 1em;
}

.click2 {
    width: 8vw;
    height: 5vh;
    color: #0088ff;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #222222;
    font-size: 1em;
}

.fab {
    font-size: 1.3em;
    margin-right: 0.6em;
}

.container-slide {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-slide {
    width: 90%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    width: 95%;
    height: 66vh;
    background-image: url('./img/desktop/image_rotate.png');
    background-size: cover;
    display: none;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 53%;
    width: auto;
    padding: 18px;
    font-weight: bold;
    font-size: 26px;
    left: 64px;
    border-radius: 50%;
    user-select: none;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px #000000;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 53%;
    width: auto;
    padding: 18px;
    font-weight: bold;
    font-size: 26px;
    right: 64px;
    border-radius: 50%;
    user-select: none;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px #000000;
}

.box-dots {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    cursor: pointer;
    width: 11px;
    height: 11px;
    margin: 0 6px;
    background-color: #bbbbbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #46a8ff;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

.title-slide {
    color: #ffffff;
    background-color: #46a8ff;
    width: 19vw;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-top: 21em;
}

.text-slide {
    color: #ffffff;
    font-size: 1.8em;
    width: 34vw;
    margin-left: 1em;
}

.title-slide-two {
    color: #ffffff;
    background-color: #46a8ff;
    width: 7vw;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-top: 21em;
}

.text-slide-two {
    color: #ffffff;
    font-size: 1.8em;
    width: 34vw;
    margin-left: 1em;
}

.title-slide-tree {
    color: #ffffff;
    background-color: #46a8ff;
    width: 5vw;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-top: 21em;
}

.text-slide-tree {
    color: #ffffff;
    font-size: 1.8em;
    width: 35vw;
    margin-left: 1em;
}

.container-top {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-photos {
    width: 85%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    width: 100%;
}

.photo {
    width: 31.5%;
    height: 32vh;
    background-image: url('./img/desktop/highlight-01.png');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.photo-two {
    width: 31.5%;
    height: 32vh;
    background-image: url('./img/desktop/highlight-02.png');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.photo-tree {
    width: 31.5%;
    height: 32vh;
    background-image: url('./img/desktop/highlight-03.png');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.text {
    width: 9vw;
    height: 4vh;
    color: #ffffff;
    background-color: #f13e08d5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.text-two {
    width: 7vw;
    height: 4vh;
    color: #ffffff;
    background-color: #f13e08d5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.text-tree {
    width: 8vw;
    height: 4vh;
    color: #ffffff;
    background-color: #f13e08d5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.container-divoltis {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-content {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.title-content {
    width: 100%;
}

.box-photos-content {
    width: 70%;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 29vw;
    height: 44vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-content {
    width: 91.3%;
    height: 32vh;
}

.subtitle-content {
    font-size: 1em;
    color: #46a8ff;
}

.text-content {
    width: 23vw;
}

.trace {
    width: 26.5vw;
    height: 0.1vh;
    background-color: #bebcbc;
}

.box-advertising {
    width: 23vw;
    height: 95vh;
    display: flex;
    justify-content: flex-end;
}

.advertising {
    height: 90%;
}

.container-pre-final {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.box-paisis {
    width: 28vw;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-paisis {
    color: #46a8ff;
}

.item-paisis {
    width: 26vw;
    height: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-pirulitá {
    width: 28vw;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-pir, .title-cev {
    color: #f81818;
    width: 25.9vw;
}

.box-one, .box-two, .box-tree, .box-four {
    width: 28vw;
    height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-title-text {
    width: 13vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-liber, .title-gostis, .title-inter {
    width: 11vw;
    color: #f81818;
}

.text-liber, .text-gostis, .text-inter {
    width: 11vw;
}

.box-cevadiss {
    width: 28vw;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.advertising-final {
    width: 90vw;
    height: 80vh;
    display: none;
}

.photo-advertising {
    width: 65%;
}

.container-final {
    width: 100%;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #363a53;
}

.box-return {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #46a8ff;
}

.box-text-arrow {
    width: 20.2vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-return {
    color: #ffffff;
}

.arrow {
    width: 2.5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    width: 62vw;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-final {
    width: 48vw;
    color: #ffffff;
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .main-logo {
        width: 30vw;
    }

    .box-logo-text {
        width: 40%;
        justify-content: flex-end;
    }

    .main-text {
        display: none;
    }

    .box-buttons {
        width: 23.5vw;
    }

    .click, .click2 {
        width: 11vw;
        height: 6vh;
    }

    .fab {
        margin-right: 0.3em;
    }

    .slide {
        background-position: 40%;
    }

    .title-slide {
        width: 27vw;
    }

    .title-slide-two {
        width: 11vw;
    }

    .title-slide-tree {
        width: 7vw;
    }

    .prev {
        left: 32px;
        padding: 14px;
        font-size: 26px;
    }

    .next {
        right: 32px;
        padding: 14px;
        font-size: 26px;
    }

    .photo, .photo-two, .photo-tree {
        background-position: 50%;
    }

    .text {
        width: 13vw;
    }

    .box-photos-content {
        width: 100%;
    }

    .item {
        width: 42vw;
        align-items: center;
    }

    .subtitle-content {
        width: 38vw;
    }

    .text-content {
        width: 38vw;
    }

    .trace {
        width: 38.5vw;
    }

    .box-advertising {
        display: none;
    }

    .text-paisis {
        font-size: 0.9em;
    }

    .photo-pirulita, .photo-cevadiss {
        width: 53%;
    }
}

@media (max-width: 425px) {
    .box-hamb {
        width: 10vw;
    }

    .box-logo-text {
        width: 80%;
        justify-content: unset;
    }

    .main-text {
        display: none;
    }

    .box-buttons {
        display: none;
    }

    .title {
        display: none;
    }

    .container-slide {
        height: 64vh;
    }

    .box-slide {
        height: 44vh;
    }

    .slide {
        width: 100%;
        height: 42vh;
        background-size: 160%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .prev {
        top: 39%;
        left: 22px;
        color: transparent;
        background-color: transparent;
        box-shadow: unset;
    }

    .next {
        top: 39%;
        right: 22px;
        color: transparent;
        background-color: transparent;
        box-shadow: unset;
    }

    .title-slide {
        width: 50vw;
        margin-top: 13em;
        margin-left: unset;
        justify-content: center;
    }

    .title-slide-two {
        width: 22vw;
        margin-top: 13em;
        margin-left: unset;
        justify-content: center;
    }

    .title-slide-tree {
        width: 16vw;
        margin-top: 13em;
        margin-left: unset;
        justify-content: center;
    }

    .text-slide, .text-slide-two, .text-slide-tree {
        display: none;
    }

    .container-top {
        height: 128vh;
    }

    .box-photos {
        width: 90%;
        height: 126vh;
        flex-direction: column;
        flex-wrap: unset;
    }

    .photo, .photo-two, .photo-tree {
        width: 100%;
        height: 40vh;
    }

    .text {
        width: 26vw;
    }

    .text-two {
        width: 18vw;
    }

    .text-tree {
        width: 20vw;
    }

    .container-divoltis {
        height: 245vh;
    }

    .box-content {
        width: 90%;
        height: 238vh;
        justify-content: space-around;
    }

    .box-photos-content {
        width: 100%;
        height: 232vh;
        flex-direction: column;
        flex-wrap: unset;
        justify-content: space-around;
    }

    .item {
        width: 100%;
        height: 55vh;
    }

    .photo-content {
        width: 100%;
        height: 40vh;
    }

    .text-content {
        width: 90vw;
        font-size: 1.2em;
        letter-spacing: 0.01em;
    }

    .trace {
        width: 90vw;
    }

    .box-advertising {
        display: none;
    }

    .container-pre-final {
        height: 300vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .box-paisis {
        width: 90vw;
    }

    .item-paisis {
        width: 90vw;
    }

    .text-paisis {
        font-size: 0.95em;
    }

    .box-pirulitá, .box-cevadiss {
        width: 90vw;
        height: 76vh;
        align-items: unset;
    }

    .title-pir, .title-cev {
        width: 40vw;
    }

    .box-one, .box-two, .box-tree, .box-four {
        width: 90vw;
        height: 30vh;
        justify-content: space-between;
    }

    .box-title-text {
        width: 46vw;
    }

    .title-liber, .title-gostis, .title-inter {
        width: 46vw;
    }

    .text-liber, .text-gostis, .text-inter {
        width: 46vw;
        font-size: 1.1em;
    }

    .advertising-final {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-final {
        height: 28vh;
    }

    .box-text-arrow {
        width: 40vw;
    }

    .text-return {
        width: 34vw;
    }

    .logo-text {
        width: 94vw;
        height: 20vh;
        justify-content: center;
    }

    .photo-final {
        display: none;
    }

    .text-final {
        width: 97vw;
        font-size: 1em;
    }
}