*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-nav {
    width: 100%;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #46a8ff;
}

.box-nav {
    width: 88%;
    height: 17vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.box-hamb {
    width: 5vw;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-logo-text {
    width: 50%;
    height: 18vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-logo {
    width: 19vw;
    height: 18vh;
    display: flex;
    align-items: flex-end;
}

.main-text {
    color: #ffffff;
    height: 8vh;
    letter-spacing: 0.02em;
}

.box-buttons {
    width: 20vw;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.click {
    width: 8.5vw;
    height: 5vh;
    color: #06129c;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #222222;
}

.click2 {
    width: 8.5vw;
    height: 5vh;
    color: #0088ff;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #222222;
}

.container-slide {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}

.box-slide {
    width: 90%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: cyan;
}

.slide {
    width: 85%;
    height: 66vh;
    background-image: url('./img/desktop/image_rotate.png');
    background-size: cover;
}

.title-slide {
    color: #ffffff;
    background-color: #46a8ff;
    width: 19vw;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-top: 21em;
}

.text-slide {
    color: #ffffff;
    font-size: 1.8em;
    width: 34vw;
    margin-left: 1em;
}

.slide-two {
    width: 85%;
    height: 66vh;
    background-image: url('./img/desktop/image_rotate.png');
    background-size: cover;
}

.title-slide-two {
    color: #ffffff;
    background-color: #46a8ff;
    width: 7vw;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-top: 21em;
}

.text-slide-two {
    color: #ffffff;
    font-size: 1.8em;
    width: 34vw;
    margin-left: 1em;
}

.slide-tree {
    width: 85%;
    height: 66vh;
    background-image: url('./img/desktop/image_rotate.png');
    background-size: cover;
}

.title-slide-tree {
    color: #ffffff;
    background-color: #46a8ff;
    width: 5vw;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-top: 21em;
}

.text-slide-tree {
    color: #ffffff;
    font-size: 1.8em;
    width: 35vw;
    margin-left: 1em;
}

.tns-outer {
    position: relative;
    width: 90%;
  }
  
  .tns-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: .5rem 0;
  }
  
  .tns-nav > button {
    width: 10px;
    height: 10px;
    margin: 0 8px;
    border: 1px solid #979696;
  
    outline: none;
    border-radius: 50%;
    background: #979696;
  }
  
  .tns-controls {
    position: absolute;
    top: 50%;
    left: -23px;
    display: flex;
    justify-content: space-between;
    width: 104%;
  
    pointer-events: none;
  
    transform: translateY(-50%);
  }
  
  .tns-controls > button:first-child,
  .tns-controls > button:last-child {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-color: #ffffff;
    border: none;
    outline: none;
  
    pointer-events: auto;
  
    background: url('./img/desktop/arrow_left-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
  }
  
  .tns-controls > button:last-child {
    transform: rotate(180deg);
  }

.container-top {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-photos {
    width: 85%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    width: 100%;
}

.photo {
    width: 31.5%;
    height: 32vh;
    background-image: url('./img/desktop/highlight-01.png');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.photo-two {
    width: 31.5%;
    height: 32vh;
    background-image: url('./img/desktop/highlight-02.png');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.photo-tree {
    width: 31.5%;
    height: 32vh;
    background-image: url('./img/desktop/highlight-03.png');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.text {
    width: 9vw;
    height: 4vh;
    color: #ffffff;
    background-color: #f13e08d5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.text-two {
    width: 7vw;
    height: 4vh;
    color: #ffffff;
    background-color: #f13e08d5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.text-tree {
    width: 8vw;
    height: 4vh;
    color: #ffffff;
    background-color: #f13e08d5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.container-divoltis {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-content {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.title-content {
    width: 100%;
}

.box-photos-content {
    width: 70%;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 29vw;
    height: 44vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-content {
    width: 91.3%;
    height: 32vh;
}

.subtitle-content {
    font-size: 1em;
    color: #46a8ff;
}

.text-content {
    width: 23vw;
}

.trace {
    width: 26.5vw;
    height: 0.1vh;
    background-color: #bebcbc;
}

.box-advertising {
    width: 23vw;
    height: 95vh;
    display: flex;
    justify-content: flex-end;
}

.advertising {
    height: 90%;
}

.container-pre-final {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.box-paisis {
    width: 28vw;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-paisis {
    color: #46a8ff;
}

.item-paisis {
    width: 26vw;
    height: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-pirulitá {
    width: 28vw;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-pir, .title-cev {
    color: #f81818;
    width: 25.9vw;
}

.box-one, .box-two, .box-tree, .box-four {
    width: 28vw;
    height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-title-text {
    width: 13vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-liber, .title-gostis, .title-inter {
    width: 11vw;
    color: #f81818;
}

.text-liber, .text-gostis, .text-inter {
    width: 11vw;
}

.box-cevadiss {
    width: 28vw;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-final {
    width: 100%;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #363a53;
}

.box-return {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #46a8ff;
}

.box-text-arrow {
    width: 20.2vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-return {
    color: #ffffff;
}

.arrow {
    width: 2.5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    width: 62vw;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-final {
    width: 48vw;
    color: #ffffff;
    font-size: 0.8em;
}